[submodule "lib/chainlink"]
	path = lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
[submodule "lib/foundry-devops"]
	path = lib/foundry-devops
	url = https://github.com/ChainAccelorg/foundry-devops
